Lenguaje de marcas/XML/DiseñoXML/Pedido/pedido.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pedidos" type="pedidosType"/>
  <xs:complexType name="destinatarioType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="apellido"/>
      <xs:element type="xs:string" name="domicilio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiculoType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="tipo"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="articuloType">
    <xs:sequence>
      <xs:element type="vehiculoType" name="vehiculo"/>
      <xs:element type="xs:string" name="modelo"/>
      <xs:element type="xs:string" name="cantidad"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoType">
    <xs:sequence>
      <xs:element type="destinatarioType" name="destinatario"/>
      <xs:element type="articuloType" name="articulo"/>
      <xs:element type="xs:string" name="fechaEntrega"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosType">
    <xs:sequence>
      <xs:element type="pedidoType" name="pedido"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>