Lenguaje de marcas/XML/prensa1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="noticia" type="noticiaType"/>
  <xs:complexType name="noticiaType">
    <xs:sequence>
      <xs:element type="xs:string" name="lugar"/>
      <xs:element type="xs:string" name="fecha"/>
      <xs:element type="xs:string" name="desc"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>