Lenguaje de marcas/XML/DiseñoXML/prestamo/prestamo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="biblioteca" type="bibliotecaType"/>
  <xs:complexType name="datos_lectorType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="apellido"/>
      <xs:element type="xs:string" name="domicilio"/>
      <xs:element type="xs:string" name="telefono"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datos_libroType">
    <xs:sequence>
      <xs:element type="xs:string" name="autor"/>
      <xs:element type="xs:string" name="titulo"/>
      <xs:element type="xs:string" name="calificacion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fichadePrestamoType">
    <xs:sequence>
      <xs:element type="datos_lectorType" name="datos_lector"/>
      <xs:element type="datos_libroType" name="datos_libro"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bibliotecaType">
    <xs:sequence>
      <xs:element type="fichadePrestamoType" name="fichadePrestamo"/>
      <xs:element type="xs:string" name="fecha_salida"/>
      <xs:element type="xs:string" name="fecha_devolucion"/>
      <xs:element type="xs:string" name="firma_recibido"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>