Lenguaje de marcas/XSD/entrega/pt1/ej1.dtd

<!ELEMENT catalogoLibro (libro)*>
        <!ELEMENT libro (titulo,autor+,fecha,ISBN,editor)>
        <!ELEMENT titulo (#PCDATA)>
        <!ELEMENT autor (#PCDATA)>
        <!ELEMENT fecha (mes?,anyo)>
        <!ELEMENT mes (#PCDATA)>
        <!ELEMENT anyo (#PCDATA)>
        <!ELEMENT ISBN (#PCDATA)>
        <!ELEMENT editor (#PCDATA)>

