Lenguaje de marcas/XSD/entrega/pt1/ej4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="articulos">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="codigo"/>
                <xs:element ref="id"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="codigo" type="xs:string"/>
    <xs:element name="id" type="xs:string"/>
</xs:schema>
