Lenguaje de marcas/XML/T3/xmlt3-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="examen">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="pregunta"/>
                <xs:element ref="respuesta"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pregunta" type="xs:string"/>
    <xs:element name="respuesta" type="xs:string"/>
</xs:schema>
