Lenguaje de marcas/XSD/entrega/pt2/fichas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fichas" type="fichasType"/>
  <xs:complexType name="fichaType">
    <xs:sequence>
      <xs:element name="nombre">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Ana Sanz Tin"/>
            <xs:enumeration value="Iker Rubio Mol"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="edad">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="130"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="numero" use="optional"/>
  </xs:complexType>
  <xs:complexType name="fichasType">
    <xs:sequence>
      <xs:element type="fichaType" name="ficha" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>