Lenguaje de marcas/XSD/ej5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="alumnos" type="alumnosType"/>

  <xs:complexType name="notaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="eval" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="alumnoType">
    <xs:sequence>
      <xs:element name="nombre">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Juan"/>
            <xs:enumeration value="Pepe"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="notaType" name="nota"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="dni" use="optional"/>
  </xs:complexType>

  <xs:complexType name="alumnosType">
    <xs:sequence>
      <xs:element type="alumnoType" name="alumno" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="grupo"/>
  </xs:complexType>
</xs:schema>